/* @tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Archivo", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.react-date-picker__wrapper {
  border-radius: 6px !important;
  padding: 4px !important;
  border-color: gray !important;
  border-width: 2px !important;
}

.Dropdown-root,
.Dropdown-menu {
  width: 120px !important;
}

.cms-main-page {
  height: 100vh;
  background: linear-gradient(
    to Bottom left,
    rgba(245, 222, 179, 0.8) 50%,
    rgba(128, 128, 128, 1) 50%
  );
}
/* 
.cms-dashboard {
  background: radial-gradient(
      circle at top left,
      rgba(245, 222, 179, 0.8),
      rgba(245, 222, 179, 0.4) 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(128, 128, 128, 0.8),
      rgba(128, 128, 128, 0.2) 60%
    ),
    linear-gradient(
      to bottom left,
      rgba(245, 222, 179, 0.5) 50%,
      rgba(128, 128, 128, 1) 50%
    );
} */

.cms-dashboard {
  background: radial-gradient(
      circle at top left,
      rgba(123, 171, 226, 0.8),
      rgba(245, 222, 179, 0.4) 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(128, 128, 128, 0.8),
      rgba(128, 128, 128, 0.2) 60%
    ),
    linear-gradient(
      to bottom left,
      rgba(245, 222, 179, 0.5) 50%,
      rgba(128, 128, 128, 1) 50%
    );
  min-height: 100vh;
}
/* 
.react-date-picker__wrapper {
  width: 100px !important;
} */

.cms-main-dashboard {
  background: radial-gradient(
      circle at top left,
      rgba(245, 222, 179, 0.8),
      rgba(245, 222, 179, 0.4) 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(128, 128, 128, 0.8),
      rgba(128, 128, 128, 0.2) 60%
    ),
    linear-gradient(
      to bottom left,
      rgba(245, 222, 179, 0.5) 50%,
      rgba(128, 128, 128, 1) 50%
    );
}

.dash-text {
  font-weight: bold;
  background: linear-gradient(145deg, red, orange, blue, green, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.base-diagonal {
  background: repeating-linear-gradient(
      135deg,
      /* Angle for diagonal lines */ rgba(255, 255, 255, 0.1),
      /* Line color */ rgba(255, 255, 255, 0.1) 10px,
      /* Line width */ transparent 10px,
      /* Space between lines */ transparent 20px /* Distance between lines */
    ),
    radial-gradient(
      circle at top left,
      rgba(245, 222, 179, 0.8),
      /* Light gradient */ rgba(245, 222, 179, 0.2) 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(128, 128, 128, 0.8),
      /* Darker gradient */ rgba(128, 128, 128, 0.2) 60%
    ),
    linear-gradient(
      to bottom left,
      rgba(245, 222, 179, 0.5) 50%,
      /* Light to dark transition */ rgba(128, 128, 128, 0.5) 50%
    );
}

.MuiStepLabel-label.Mui-completed.MuiStepLabel-alternativeLabel.css-1hv8oq8-MuiStepLabel-label {
  font-size: 16px !important;
  font-weight: bold !important;
  color: gray !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Archivo", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.react-date-picker__wrapper {
  border-radius: 6px !important;
  padding: 4px !important;
  border-color: gray !important;
  border-width: 2px !important;
}

.Dropdown-root,
.Dropdown-menu {
  width: 180px !important;
}

.cms-main-page {
  height: 100vh;
  background: linear-gradient(
    to Bottom left,
    rgba(245, 222, 179, 0.8) 50%,
    rgba(128, 128, 128, 1) 50%
  );
}
/* 
.cms-dashboard {
  background: radial-gradient(
      circle at top left,
      rgba(245, 222, 179, 0.8),
      rgba(245, 222, 179, 0.4) 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(128, 128, 128, 0.8),
      rgba(128, 128, 128, 0.2) 60%
    ),
    linear-gradient(
      to bottom left,
      rgba(245, 222, 179, 0.5) 50%,
      rgba(128, 128, 128, 1) 50%
    );
} */
/* 
.cms-dashboard {
  background: radial-gradient(
      circle at top left,
      rgba(123, 171, 226, 0.8),
      rgba(245, 222, 179, 0.4) 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(128, 128, 128, 0.8),
      rgba(128, 128, 128, 0.2) 60%
    ),
    linear-gradient(
      to bottom left,
      rgba(245, 222, 179, 0.5) 50%,
      rgba(128, 128, 128, 1) 50%
    );
  min-height: 100vh;
} */
.cms-dashboard {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("/src/image/bg-image.png") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}

/* 
.react-date-picker__wrapper {
  width: 100px !important;
} */

.cms-main-dashboard {
  /* background: radial-gradient(
      circle at top left,
      rgba(245, 222, 179, 0.8),
      rgba(245, 222, 179, 0.4) 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(128, 128, 128, 0.8),
      rgba(128, 128, 128, 0.2) 60%
    ),
    linear-gradient(
      to bottom left,
      rgba(245, 222, 179, 0.5) 50%,
      rgba(128, 128, 128, 1) 50%
    ); */

  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("/src/image/bg-image.png") no-repeat center center;
  background-size: cover;
}

.dash-text {
  font-weight: bold;
  background: linear-gradient(145deg, red, orange, blue, green, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.MuiStepLabel-label.Mui-completed.MuiStepLabel-alternativeLabel.css-1hv8oq8-MuiStepLabel-label {
  font-size: 16px !important;
  font-weight: bold !important;
  color: gray !important;
}

.sc-jwIPbr.bAhklE.rdt_TableCol_Sortable {
  width: 227px !important;
}
